{% extends 'base.html' %}

{% block content %}
<h1>Task List</h1>
{% for task in tasks %}
<div class="card mb-3">
    <div class="card-header">
        {{ task.get_priority_display }}
        <!-- get_atributename_display mostra o valor da chave
        {{ task.priority }}
        -->
    </div>

    <div class="card-body">
        <h5 class="card-title">{{ task.title }}</h5>
        <p class="card-text">{{ task.description }}</p>
        <hr>
        <a href="{% url 'edit_task_route' task.id %}">Alterar Tarefa</a>
        <a href="{% url 'remove_task_route' task.id %}">Remover Tarefa</a>
    </div>
</div>
{% endfor %}

<a href="{% url 'register_task_route' %}"><input type="button"
                                           class="btn btn-primary mb-3"
                                           value="Cadastrar Tarefa"></a>
<!--<h2>{{ task_name }}</h2>-->
{% endblock content %}
